# 履歴ファイル（セキュリティ・不要データ）
.bash_history
.python_history
.lesshst
.viminfo
.wget-hsts

# 作業中ファイルや一時ファイル
*.swo
*.swp
*.bak
*.tmp
*~

# 管理対象外の個人データや環境固有のディレクトリ
.ssh/
.pyenv/
.nv/
.dotnet/
.cache/
.vscode-server/
.sudo_as_admin_successful

# VSCodeなどのワークスペース設定（必要なら除外）
*.code-workspace

# OSごとのメタデータ（念のため）
.DS_Store
Thumbs.db

